// CSS PostForm
.back-btn {
  margin-top: 16px;
}

.form {
  padding: 60px 0;
}

.form-gruop {
  display: flex;
  flex-direction: column;

  & + .form-gruop {
    margin-top: 32px;
  }
}

.form-label {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.form-controls {
  border: none;
  outline: none;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 16px 20px;
}

.form-btn {
  margin-top: 20px;
}
