@import 'normalize.css';

:root {
  --header-height: 72px;
  --navbar-height: 70px;
  --footer-height: 50px;

  --primary-color: #ff4961;
  --white-color: #fff;
  --text-color: #464855;
  --border-color: #ccc;
  --text-footer-color: #90a4ae;

  --bg-btn-success: #198754;
  --bg-hover-btn-success: #157347;
  --bg-btn-info: #0d6efd;
  --bg-hover-btn-info: #0b5ed7;
  --bg-btn-danger: #dc3545;
  --bg-hover-btn-danger: #bb2d3b;
  --bg-btn-login: #bf00ff;

  --background-color-navbar: #2c343b;
  --background-color-container: #f4f5fa;

  --box-shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.18);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6rem;
  text-rendering: optimizeSpeed;
}

a[href] {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
