@import 'normalize.css';

:root {
  --header-height: 72px;
  --navbar-height: 70px;

  --primary-color: #ff4961;
  --white-color: #fff;
  --text-color: #464855;
  --border-color: #ccc;

  --background-color-navbar: #2c343b;

  --box-shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.18);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6rem;
  text-rendering: optimizeSpeed;
}

a[href] {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
